################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/KafkaSharp/.sonarqube
/KafkaSharp/sonarqubecoverage
/KafkaSharp/bin/Debug/net8.0
/KafkaSharp/obj
/KafkaSharp/coverage.xml
/KafkaSharpTests/bin
/KafkaSharpTests/obj
/KafkaSharpTests/TestResults
/obj/Debug/net8.0
/.sonarqube
/sonarqubecoverage
/coverage.xml
